---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Johan Trino" description="About Johan Trino">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me"
				tagline="Merci de vôtre interet, je vous laisse en apprendre plus sur moi ici !"
			>
				<img
					width="1900"
					height="873"
					src="/assets/Travail.jpg"
					alt="Travail"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Apres avoir obtenu mon Baccalauréat en management et gestion d'entreprise, j'ai effectué une première année
						en licence informatique. A la fin de celle-ci, j'ai décidé de chercher un travail me permettant d'apprendre 
						et de pratiquer régulierement l'anglais. Après quelques temps, j'ai pu obtenir un poste dans les hotels du 
						parc du Puy du Fou dans lesquels une population de touriste hétéroclite se masse tout au long de l'année.
					</p>
					<p>
						Au bout de trois années passées à ce poste, j'ai eu l'oppotunité de travailler pendant plus d'un an dans un hotel 
						parisien de luxe dans lequel j'ai vraiment beaucoup progressé en langue, les clients comme l'equipe ne parlant 
						presque que anglais. 
					</p>
					<p>
						Aujourd'hui, je cherche à effectuer la formation de web développeur Full Stack d'Ironhack (RNCP6, équivalent bac+3-4) pour finir
						la licence que j'avais commencé. Devenu bilingue, j'aimerais être auprès d'une équipe pouvant travailler en anglais 
						sur différents projets. 
					</p>					
				</div>
			</section>
			<section>
				<h2 class="section-title">Alternance</h2>
				<div class="content">
				<img
					width="1500"
					height="1000"
					src="/assets/Ironhack.jpg"
					alt="formation"
				/>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Bac management et gestion d'entreprise.</p>
					<p> BIA </p>
					<p> TOEIC </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p> HTML, CSS, Javascript, React</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
